{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}

    {{ include('article/_form.html.twig', {title: "Create new Article"}) }}

    <a href="{{ path('app_article_index') }}">back to list</a>
{% endblock %}


        {% block javascripts %}
            <script>
            $(document).ready(function() {
                 $('.choices_categories').select2();
                                 $("input[type='file']").change(function() {
                    var file = $(this).get(0).files[0]
                    if(file){
                        var reader = new FileReader();
                        reader.onload = function(){
                                var img = `<img src='${reader.result}' alt="Preview Image"/>`;
                                $(".image-preview").html(img)
                        }
                        reader.readAsDataURL(file)
                    }
                })
            });
              ClassicEditor
                                .create( document.querySelector( '#article_content' ) )
                                .then( editor => {
                                        console.log( editor );
                                } )
                                .catch( error => {
                                        console.error( error );
                                } );
            </script>
        {% endblock %}
